@using BreakOutBoxAuth.Models.Domain
@model BreakOutBoxAuth.Models.Sessie
    
<div class="sessies container" id="sessies">
    <table class="table mdl-shadow--2dp">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Groep</th>
            <th scope="col">Klas</th>
            <th scope="col">Status</th>
            <th scope="col">DeBlokkeer</th>
        </tr>
        </thead>
        <tbody>

        <a class="btn btn-primary" asp-controller="GroepBeheren" asp-action="GroepenActiveren" asp-route-sessieId="@Model.Naam" role="button">Activeer groepen</a>

        @foreach (var groep in Model.SessieGroep)
        {

            <tr>
                <td>
                    @groep.Groepen.Naam
                </td>
                <td>@groep.Groepen.Klas</td>
                <td>@groep.Groepen.Currentstate.GetStatus()</td>
                @if (groep.Groepen.Currentstate.getStateEnum() == State.BLOK)
                {
                    <td><a class="btn btn-primary" asp-controller="GroepBeheren" asp-action="DeBlokkeer" asp-route-groepsId="@groep.Groepen.Id" asp-route-sessieId="@Model.Naam" role="button">DeBlokkeer</a></td>
                }
                else
                {
                    <td>Is niet geblokkeerd</td>
                }
            </tr>
        }
        </tbody>
    </table>

</div>