@model IEnumerable<BreakOutBoxAuth.Models.Sessie>
@{
    ViewData["Title"] = "Sessie selecteren";
    int counter = 1;
}
<div class="textback">
    <h2 class="container">@ViewData["Title"]</h2>
</div>
<div class="sessies container" id="sessies">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sessienaam</th>
                <th scope="col">Startdatum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sessie in Model)
            {

                <tr onclick="location.href = '@(Url.Action("Groepen", "GroepBeheren", new {id = @sessie.Naam} ))'">
                    <th scope="row">@counter</th>
                    <td>
                        @sessie.Naam
                    </td>
                    <td>@sessie.Startdatum</td>

                </tr>
                counter++;
            }
        </tbody>
    </table>
</div>