@model BreakOutBoxAuth.Models.OefeningViewModel.AntwoordViewModel

@{
    ViewData["Title"] = "Gamescherm";

}


<div class="gamescherm">
    <div class="container">
        <h1>Gamescherm</h1>
        <h2>@Model.Groep.Naam</h2>
        <a href="#oef" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">keyboard_arrow_down</i>
        </a>
    </div>
</div>
<div class="voortgang" id="oef">
    <div class="container-fluid">
        <span>VOORTGANG:</span>
        <div class="progress" >
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="@Model.Groep.GetProgress100()" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Groep.GetProgress100()%">@(Model.Groep.Progress - 1) / @(Model.Groep.GroepPad.Count)</div>
        </div>
    </div>
</div>


@Html.Partial("_Oefening", Model)